:root {
  --theme-toggler: #333;
  --calculator-bg: white;
  --calculator-display: #0a1e23;
  --clear: #fc4552;
  --clear-bg: #ffd5d8;
  --btn-number: #000000;
  --btn-number-bg: #c3eaff;
  --btn-operator: #f967f3;
  --btn-operator-bg: #ffd0fb;
  --btn-equal: #000;
  --btn-equal-bg: #adf9e7;

  --bg-gradient: linear-gradient(
    to bottom right,
    rgba(79, 51, 176, 1),
    rgba(210, 53, 165)
  );
}

.dark {
  --theme-toggler: white;
  --calculator-bg: #071115;
  --calculator-display: #f8fafb;
  --clear: #bd3740;
  --clear-bg: #2d191e;
  --btn-number: #aa00a4;
  --btn-number-bg: #1b2f38;
  --btn-operator: #aa00a4;
  --btn-operator-bg: #2e1f39;
  --btn-equal: #ffffff;
  --btn-equal-bg: #223323;

  --bg-gradient: linear-gradient(to right, #141e30, #243b55);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
}

body {
  background-image: var(--bg-gradient);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
  background-color: var(--calculator-bg);
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  background-color: var(--theme-toggler);
  border-radius: 50%;
  z-index: 1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
  color: var(--calculator-display);
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button#equal {
  height: 130px;
}

#clear {
  color: var(--clear);
  background-color: var(--clear-bg);
}

.btn-number {
  color: var(--btn-number);
  background-color: var(--btn-number-bg);
}

.btn-operator {
  color: var(--btn-operator);
  background-color: var(--btn-operator-bg);
}

.btn-equal {
  color: var(--btn-equal);
  background-color: var(--btn-equal-bg);
}
